<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAkyTdgW6jAY78mxipKvHzjMb016eZMQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>36397410590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Personal.UpGrade</string>
	<key>PROJECT_ID</key>
	<string>upgrade-f9cda</string>
	<key>STORAGE_BUCKET</key>
	<string>upgrade-f9cda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36397410590:ios:77ea404cee14024c45010f</string>
</dict>
</plist>